In [1]:
import datetime
import pandas as pd
import matplotlib.pyplot as plt
from alpha_vantage.timeseries import TimeSeries
import matplotlib.dates as matDates

In [2]:
#Loading Confirmed Cases
confirmed_cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
confirmed_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22,12/5/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,205612,205612,205802,205830,205907,206073,206133,206145,206206,206273
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,333322,333330,333330,333338,333343,333360,333381,333391,333408,333413
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271061,271061,271079,271082,271090,271096,271100,271102,271107,271113
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46824,46824,46824,46824,47219,47219,47219,47219,47219,47219
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,104491,104491,104491,104491,104676,104676,104676,104676,104676,104750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333721,333721,333721,333746,333746,333746,333746,333746,333746,333746
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257893,257893,257893,257893,259164,259164,259164,259164,259164,259164

In [3]:
#Loading Death Cases
deaths_cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
deaths_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22,12/5/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7834,7834,7834,7834,7835
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,156,156,156,156,157,157,157,157,157,157
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1923,1923,1923,1923,1924,1924,1924,1924,1924,1925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5606,5606,5606,5606,5620,5620,5620,5620,5620,5620

In [4]:

#Drop Lat and Long Columns as part of data cleaning
confirmed_cases.drop(columns=['Lat','Long'],inplace=True)
deaths_cases.drop(columns=['Lat','Long'],inplace=True)

In [5]:
confirmed_cases

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22,12/5/22
0,NaN,Afghanistan,0,0,0,0,0,0,0,0,...,205612,205612,205802,205830,205907,206073,206133,206145,206206,206273
1,NaN,Albania,0,0,0,0,0,0,0,0,...,333322,333330,333330,333338,333343,333360,333381,333391,333408,333413
2,NaN,Algeria,0,0,0,0,0,0,0,0,...,271061,271061,271079,271082,271090,271096,271100,271102,271107,271113
3,NaN,Andorra,0,0,0,0,0,0,0,0,...,46824,46824,46824,46824,47219,47219,47219,47219,47219,47219
4,NaN,Angola,0,0,0,0,0,0,0,0,...,104491,104491,104491,104491,104676,104676,104676,104676,104676,104750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,0,0,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,NaN,Winter Olympics 2022,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,0,0,0,0,0,0,0,0,...,333721,333721,333721,333746,333746,333746,333746,333746,333746,333746
288,NaN,Zimbabwe,0,0,0,0,0,0,0,0,...,257893,257893,257893,257893,259164,259164,259164,259164,259164,259164

In [6]:
deaths_cases

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22,12/5/22
0,NaN,Afghanistan,0,0,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7834,7834,7834,7834,7835
1,NaN,Albania,0,0,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
2,NaN,Algeria,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,0,0,0,0,0,0,0,0,...,156,156,156,156,157,157,157,157,157,157
4,NaN,Angola,0,0,0,0,0,0,0,0,...,1923,1923,1923,1923,1924,1924,1924,1924,1924,1925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,NaN,Winter Olympics 2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,NaN,Zambia,0,0,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
288,NaN,Zimbabwe,0,0,0,0,0,0,0,0,...,5606,5606,5606,5606,5620,5620,5620,5620,5620,5620

In [7]:
#Finding out Total Confirmed Cases by Country
confirmed_cases['Total Confirmed Cases'] = confirmed_cases.iloc[:,4:].sum(axis=1)

confirmed_cases

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22,12/5/22,Total Confirmed Cases
0,NaN,Afghanistan,0,0,0,0,0,0,0,0,...,205612,205802,205830,205907,206073,206133,206145,206206,206273,110421190
1,NaN,Albania,0,0,0,0,0,0,0,0,...,333330,333330,333338,333343,333360,333381,333391,333408,333413,154163521
2,NaN,Algeria,0,0,0,0,0,0,0,0,...,271061,271079,271082,271090,271096,271100,271102,271107,271113,157237915
3,NaN,Andorra,0,0,0,0,0,0,0,0,...,46824,46824,46824,47219,47219,47219,47219,47219,47219,20057421
4,NaN,Angola,0,0,0,0,0,0,0,0,...,104491,104491,104491,104676,104676,104676,104676,104676,104750,50145291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,0,0,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,346441416
285,NaN,Winter Olympics 2022,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,164172
286,NaN,Yemen,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,6756605
287,NaN,Zambia,0,0,0,0,0,0,0,0,...,333721,333721,333746,333746,333746,333746,333746,333746,333746,164137486
288,NaN,Zimbabwe,0,0,0,0,0,0,0,0,...,257893,257893,257893,259164,259164,259164,259164,259164,259164,115813888

In [8]:
#Finding out total death cases by country
deaths_cases['Total Death Cases'] = deaths_cases.iloc[:,4:].sum(axis=1)
deaths_cases

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22,12/5/22,Total Death Cases
0,NaN,Afghanistan,0,0,0,0,0,0,0,0,...,7833,7833,7833,7833,7834,7834,7834,7834,7835,4681699
1,NaN,Albania,0,0,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,2147369
2,NaN,Algeria,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,4254461
3,NaN,Andorra,0,0,0,0,0,0,0,0,...,156,156,156,157,157,157,157,157,157,111779
4,NaN,Angola,0,0,0,0,0,0,0,0,...,1923,1923,1923,1924,1924,1924,1924,1924,1925,1050413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,3218157
285,NaN,Winter Olympics 2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,1312500
287,NaN,Zambia,0,0,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,2252161
288,NaN,Zimbabwe,0,0,0,0,0,0,0,0,...,5606,5606,5606,5620,5620,5620,5620,5620,5620,2929986

In [9]:
#Merging both Confirmed cases and death cases dataframe on global level
confirmed = confirmed_cases[["Province/State","Country/Region","Total Confirmed Cases"]]

death = deaths_cases[["Province/State","Country/Region","Total Death Cases"]]

dataFrame_finals=pd.merge(confirmed,death,on=["Province/State","Country/Region"])
dataFrame_finals

,Province/State,Country/Region,Total Confirmed Cases,Total Death Cases
0,NaN,Afghanistan,110421190,4681699
1,NaN,Albania,154163521,2147369
2,NaN,Algeria,157237915,4254461
3,NaN,Andorra,20057421,111779
4,NaN,Angola,50145291,1050413
...,...,...,...,...
284,NaN,West Bank and Gaza,346441416,3218157
285,NaN,Winter Olympics 2022,164172,0
286,NaN,Yemen,6756605,1312500
287,NaN,Zambia,164137486,2252161
288,NaN,Zimbabwe,115813888,2929986

In [10]:
#Get Alpha Vantage API key and fetch stocks based on overall American market, Canadian market,travel sector, real estate sector and precious metal stock
api_key = 'PXHS3RJFNLTJIOF4'
ts = TimeSeries(key=api_key,output_format='pandas')
overall_us = ts.get_weekly_adjusted('NASDX')
overall_canada = ts.get_weekly_adjusted('SHOP.TRT')
travel_stock = ts.get_weekly_adjusted('ABNB') #Airbnb
real_estate = ts.get_weekly_adjusted('FOR') #Forestar Grp Inc
precious_metals = ts.get_weekly_adjusted('GOLD') #Barrick gOLD

In [11]:
#Create dataframes for American market, Canadian market,travel sector, real estate sector and precious metal stock
america_dataFrame = pd.DataFrame(overall_us[0].reset_index(level=0))
canada_dataFrame = pd.DataFrame(overall_canada[0].reset_index(level=0))
travel_dataFrame = pd.DataFrame(travel_stock[0].reset_index(level=0))
real_estate_dataFrame = pd.DataFrame(real_estate[0].reset_index(level=0))
precious_metal_dataFrame = pd.DataFrame(precious_metals[0].reset_index(level=0))

In [12]:
america_dataFrame

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
0,2022-12-02,25.75,26.01,25.57,25.90,25.9000,0.0,0.7655
1,2022-11-25,25.68,26.31,25.68,26.13,25.3819,0.0,0.0000
2,2022-11-18,26.00,26.37,25.95,25.95,25.2070,0.0,0.0000
3,2022-11-11,24.38,26.25,23.99,26.25,25.4984,0.0,0.0000
4,2022-11-04,25.33,25.33,23.74,24.12,23.4294,0.0,0.0000
...,...,...,...,...,...,...,...,...
1188,2000-02-25,10.30,11.06,10.30,10.85,8.4925,0.0,0.0000
1189,2000-02-18,10.40,10.70,10.30,10.30,8.0620,0.0,0.0000
1190,2000-02-11,10.34,10.66,10.34,10.39,8.1325,0.0,0.0000
1191,2000-02-04,9.38,10.14,9.38,10.14,7.9368,0.0,0.0000
1192,2000-01-28,9.74,9.80,9.09,9.09,7.1149,0.0,0.0000

In [13]:
canada_dataFrame

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
0,2022-12-05,57.55,58.69,54.96,55.46,55.460,3373249.0,0.0
1,2022-12-02,52.34,60.63,49.92,57.96,57.960,31998200.0,0.0
2,2022-11-25,48.31,50.11,46.12,49.18,49.180,12602000.0,0.0
3,2022-11-18,51.84,55.49,48.38,49.02,49.020,22221200.0,0.0
4,2022-11-11,43.99,54.18,41.16,52.34,52.340,20307300.0,0.0
...,...,...,...,...,...,...,...,...
391,2015-06-26,44.69,47.49,40.60,41.20,4.120,1328000.0,0.0
392,2015-06-19,42.00,51.92,40.00,43.20,4.320,3960000.0,0.0
393,2015-06-12,33.98,41.50,33.01,41.45,4.145,1143000.0,0.0
394,2015-06-05,33.62,34.99,31.88,33.98,3.398,850000.0,0.0
395,2015-05-29,35.00,38.16,33.14,33.52,3.352,4115000.0,0.0

In [14]:
travel_dataFrame

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
0,2022-12-05,100.00,101.1700,98.04,98.51,98.51,3601549.0,0.0
1,2022-12-02,97.00,102.7600,94.81,101.00,101.00,26387210.0,0.0
2,2022-11-25,97.01,98.8299,92.98,97.67,97.67,17680050.0,0.0
3,2022-11-18,107.74,111.2350,96.60,97.77,97.77,25085032.0,0.0
4,2022-11-11,96.76,109.7700,93.28,109.57,109.57,34660330.0,0.0
...,...,...,...,...,...,...,...,...
99,2021-01-15,147.99,187.4200,143.61,169.27,169.27,41944591.0,0.0
100,2021-01-08,150.99,155.5400,137.00,149.77,149.77,25696460.0,0.0
101,2020-12-31,158.60,163.6400,143.12,146.80,146.80,17865721.0,0.0
102,2020-12-24,155.31,174.9700,145.11,154.84,154.84,37148599.0,0.0
103,2020-12-18,135.00,159.0000,121.50,157.30,157.30,79299032.0,0.0

In [15]:
real_estate_dataFrame

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
0,2022-12-05,14.98,15.0900,14.78,15.05,15.05,135283.0,0.0
1,2022-12-02,14.55,15.1400,14.16,15.02,15.02,731913.0,0.0
2,2022-11-25,14.00,14.8000,13.80,14.71,14.71,339930.0,0.0
3,2022-11-18,13.73,14.1108,13.40,13.96,13.96,601847.0,0.0
4,2022-11-11,11.30,13.9600,11.24,13.82,13.82,589988.0,0.0
...,...,...,...,...,...,...,...,...
777,2008-01-18,18.80,21.1300,18.24,19.86,19.86,1104600.0,0.0
778,2008-01-11,21.70,21.8100,16.50,19.05,19.05,2041600.0,0.0
779,2008-01-04,21.95,23.9200,21.28,21.80,21.80,1917200.0,0.0
780,2007-12-28,24.45,24.4500,21.26,22.60,22.60,2608100.0,0.0
781,2007-12-21,23.50,24.2500,23.17,24.25,24.25,74200.0,0.0

In [16]:
precious_metal_dataFrame

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
0,2022-12-05,16.81,16.9092,16.4700,16.52,16.5200,21242900.0,0.0000
1,2022-12-02,16.05,17.3400,15.5000,16.98,16.9800,117219534.0,0.0500
2,2022-11-25,15.51,16.3000,15.1344,16.02,15.9697,52029706.0,0.0000
3,2022-11-18,16.33,16.4500,15.3500,15.62,15.5709,85474722.0,0.0000
4,2022-11-11,14.29,16.5800,14.1800,16.44,16.3884,123797348.0,0.0000
...,...,...,...,...,...,...,...,...
1200,1999-12-10,17.25,18.4400,17.1900,17.56,13.0970,6223500.0,0.0000
1201,1999-12-03,18.06,18.3100,17.3100,17.44,13.0075,8455600.0,0.0000
1202,1999-11-26,17.81,19.5600,17.5000,19.38,14.4544,9774400.0,0.1375
1203,1999-11-19,17.88,18.6300,17.5000,17.81,13.1895,7617200.0,0.0000
1204,1999-11-12,17.06,19.0600,16.9400,17.88,13.2414,11705300.0,0.0000